<a href="https://colab.research.google.com/github/KMR-86/Amazon-fine-food-review-analysis/blob/master/Amazon_fine_food_review_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/My\ Drive/google_colab_datasets
%ls

In [0]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")



import sqlite3
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer

import re
# Tutorial about Python regular expressions: https://pymotw.com/2/re/
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

In [3]:
con = sqlite3.connect('amazon-fine-food-reviews/database.sqlite')
filtered_data = pd.read_sql_query("SELECT * FROM Reviews WHERE Score != 3", con) 
def partition(x):
    if x < 3:
        return 0
    return 1

#changing reviews with score less than 3 to be positive and vice-versa
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition) 
filtered_data['Score'] = positiveNegative
print("Number of data points in our data", filtered_data.shape)
filtered_data.shape
filtered_data.head(1)

Number of data points in our data (525814, 10)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...

[1 rows x 10 columns]

In [0]:
def simple_analysis(df):
  for col in df.columns:
    print("\ncolumn: ",col)
    print(df[col].dtype," ",df[col].nunique())
    print(df[col].unique()) 
    #print(df[col].value_counts(sort=True))

simple_analysis(filtered_data)

In [24]:
def preprocessing(df):
  df=df[df["HelpfulnessNumerator"]<=df["HelpfulnessDenominator"]]
  print(df.shape)
  df=df.drop_duplicates(subset={"UserId","ProfileName","Time","Text"}, keep='first', inplace=False)
  print(df.shape)
  return df




print(filtered_data.shape)
df=preprocessing(filtered_data)
print("data left : ", df.shape[0]/filtered_data.shape[0])

(525814, 10)
(525812, 10)
(364171, 10)
data left :  0.6925852107399194